<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>

<title>Mi Aplicación - Título de Mi Aplicación</title>
<meta name="description" content="Descripción de Mi Aplicación">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">

<!-- ... -->

<header>
<div class="container">
<div class="marca-mi-aplicacion">
<img alt="Logo de Mi Aplicación" src="descarga.png">
<br>
</div>
</div>
</header>

<div>
	<div style="height:600px">
	 <div align="center">
     <img class="error" alt="Error" src="descarga (1).png">
       <h1>El recurso que buscas no existe</h1>
           <div class="button">
           <a class="btn btn-default" href="https://www.misitio.com/">Volver a la página principal</a>
           </div>
           <p class="codigo">(0x00800404)</p>
		</div>
	</div>
</div>

<!-- ... -->

</body>
</html>

   



<div class="iyp__toolbar"></div>

</body></html>
